.pokedex__container{
    height: calc(100vh - 180px);
    /* max-height: calc(100vh - 180px); */
    width: 80%;
    min-width: 360px;
    max-width: 1115px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr;
}

.pokedex_header{
    width: 80%;
    min-width: 360px;
    max-width: 1115px;
    margin: 0 auto;
    font-size: 0.7em;
    text-align: center;
    padding: 1em 0;
}

.pokedex_trainer{
    color: black;
}

.pokedex_title{
    color: red;
}

.pokedex_form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 550px;
    margin: 1em auto;
}