.poke__card-container{
    width: 250px;
    position: relative;
}

.card__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1115px;
    /* max-height: 70%; */
    /* min-height: 70%; */
    /* height: 550px; */
    margin: 0 auto;
    overflow: auto;
}

.poke_card_img{
    width: 65%;
}

.poke_card_status_pokemon{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}